@model Sales_Web.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <h1 class="mb-4">Product Details</h1>

    <div class="card">
        <div class="card-header">
            <h4 class="mb-0">Product Information</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.UnitPrice)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Active)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Active)
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            <a class="btn btn-secondary" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
